body {
    margin: 0px;
    background-color: #2F2F2F;
}

.btn-primary {
    background-color: #7f39fb;
    align-items: center;
}

.btn-primary:hover {
    background-color: #6a2dd6;
}

.btn-primary:active {
    background-color: #5728AA !important;
}

.btn-primary:focus {
    background-color: #5728AA;
}

.btn-secondary {
    background-color: #00c4b4;
    align-items: center;
}

.btn-secondary:hover {
    background-color: #02ad9f;
}

.btn-secondary:active {
    background-color: #039387 !important;
}

.btn-secondary:focus {
    background-color: #039387;
}

.btn {
    border-radius: 14px;
    border-width: 0px;
    margin: 15px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

* {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
    word-break: normal;
}

.imageProduit {
    background-image: url('http://pinegrow.com/placeholders/img19.jpg');
    background-size: cover;
    width: 255px;
    height: 150px;
    display: flex;
    background-position: center center;
    margin: 30px auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 0px;
}

p {
    font-weight: lighter;
}

.btn-cmd {
    margin-top: 0px;
    margin-bottom: 25px;
}
