form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    /: 90px;
    text-align: center;
}

input:focus,
textarea:focus {
    border-color: #000;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

.mail {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
}

.paswrd {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 20px;
}

.submit {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.paswrd input {
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    border-radius: 14px;
}

.mail input {
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    border-radius: 14px;
}