body {
    margin: 0px;
    background-color: #2F2F2F;
}

.btn-primary {
    background-color: #7f39fb;
    align-items: center;
}

.btn-primary:hover {
    background-color: #6a2dd6;
}

.btn-primary:active {
    background-color: #5728AA !important;
}

.btn-secondary {
    background-color: #00c4b4;
    align-items: center;
}

.btn-secondary:hover {
    background-color: #02ad9f;
}

.btn-secondary:active {
    background-color: #039387 !important;
}

.btn {
    border-radius: 14px;
    border-width: 0px;
}