body {
    margin: 0px;
    background-color: #2F2F2F;
}

.btn-primary {
    background-color: #7f39fb;
    align-items: center;
}

.btn-primary:hover {
    background-color: #6a2dd6;
}

.btn-primary:active {
    background-color: #5728AA !important;
}

.btn-primary:focus {
    background-color: #5728AA;
}

.btn-secondary {
    background-color: #00c4b4;
    align-items: center;
}

.btn-secondary:hover {
    background-color: #02ad9f;
}

.btn-secondary:active {
    background-color: #039387 !important;
}

.btn-secondary:focus {
    background-color: #039387;
}

.btn {
    border-radius: 14px;
    border-width: 0px;
    margin: 15px 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 17px;
}


/* Start burger menu */
body
{
  margin: 0;
  padding: 0;
  
 
  background: #232323;
  color: #ffffff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #ffffff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(2px, 1px);
}

#menu
{
  /*position: absolute;
  width: 300px;*/
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #2F2F2F;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
/* End burger menu */
* {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 18pt;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
    word-break: normal;
}