body {
    margin: 0px;
    background-color: #2F2F2F;
}

.btn-primary {
    background-color: #7f39fb;
}

.btn-primary:hover {
    background-color: #6a2dd6;
}

.btn-secondary {
    background-color: #00c4b4;
}

.btn-secondary:hover {
    background-color: #02ad9f;
}